.contact-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #333; /* Solid border */
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better look */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.contact-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form button[type="submit"] {
  background-color: #C3B1E1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.contact-form button[type="submit"]:hover {
      background-color: black;
}